<div class="divide80"></div>
  <div class="container">
    <div class="row">
      <div class="portfolio-box iso-call col-3-space">
        <% @restaurants.each do |restaurant| %>
          <div class="project-post photography branding">
            <div class="item-img-wrap ">
                <img src="img/img-8.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                    <a href="/restaurants/<%= restaurant.id %>">
                        <span></span>
                    </a>
                </div>
            </div> 
            <div class="work-desc">
                <h3><a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a></h3>
                <span><%= restaurant.phone %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
   