// Place all the styles related to the Landing_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#available-form {
  text-align: center;
}

.jumbotron-image {
  text-align: center;
  width: 100%;
}