// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#about {
  padding-top: 50px;
};

.page-header {
  text-align: center;
};

.img-responsive {
  height: 250px;
};

.form-group {
  text-align: center;
  font-size: 50px;
};

#reservation-form {
  text-align: center;
};